
{% if es_config %}
{{ es_config | to_nice_yaml }}
{% endif %}

{% if es_config['cluster.name'] is not defined %}
cluster.name: elasticsearch
{% endif %}

{% if es_config['node.name'] is not defined %}
node.name: {{inventory_hostname}}-{{es_instance_name}}
{% endif %}

#################################### Paths ####################################

# Path to directory containing configuration (this file and logging.yml):

{% if (es_version | version_compare('6.0.0', '<')) %}
path.conf: {{ conf_dir }}
{% endif %}

path.data: {{ data_dirs | array_to_str }}

path.logs: {{ log_dir }}

{% if es_path_repo is defined %}
path.repo: {{ es_path_repo }}
{% endif %}

{% if es_action_auto_create_index == true %}
action.auto_create_index: true
{% elif not es_action_auto_create_index %}
action.auto_create_index: false
{% else %}
action.auto_create_index: {{ es_action_auto_create_index }}
{% endif %}

{% if es_enable_xpack %}
{% if not "security" in es_xpack_features %}
xpack.security.enabled: false
{% endif %}

{% if not "monitoring" in es_xpack_features %}
xpack.monitoring.enabled: false
{% endif %}

{% if not "alerting" in es_xpack_features %}
xpack.watcher.enabled: false
{% endif %}

{% if not "ml" in es_xpack_features %}
xpack.ml.enabled: false
{% endif %}

{% if not "graph" in es_xpack_features %}
xpack.graph.enabled: false
{% endif %}
{% endif %}

{% if es_mail_config is defined %}
xpack.notification.email:
  account:
    {{ es_mail_config['account'] }}:
      profile: {{ es_mail_config['profile'] }}
      email_defaults:
        from: {{ es_mail_config['from'] }}
      smtp:
        auth: {{ es_mail_config['require_auth'] }}
        host: {{ es_mail_config['host'] }}
        port: {{ es_mail_config['port'] }}
        {% if es_mail_config['require_auth'] == true %}
        user: {{ es_mail_config['user'] }}
        password: {{ es_mail_config['pass'] }}
        {% endif %}  
{% endif %}
